.lot7Text{
    color:goldenrod;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 48px;
    padding: 10vw 25vw;
    border: solid;
}

.lot7Container{
    height: 100vh;
    width:100%;
    animation-name: pageLoadInFader;
    animation-duration: 1.5s;
    animation-play-state: running;
}