.largeLogo{
    font-family: 'Moon Dance', cursive;
    /* font-size: 15vw; */
    font-size: 15vw;
    padding-left: 24vw;
    text-align: left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(45deg, goldenrod, #ffffff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* border: dotted pink; */
    animation: titleGlower 2s linear infinite alternate;
    height: 25vw
    }
    

.homeText{
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'Mandali', sans-serif;
    width:100%;
    font-size: 4vh;
    z-index: 3;
    position: absolute;
    padding-top: 0vw;
    
}

@keyframes titleGlower{
    0%   {text-shadow: #FC0 2px 0 10px;}
    
    100%{text-shadow: rgb(255, 255, 255) 2px 0 10px;}
}


.subtext {
    margin-top: 1.5em;
    font-size: 75%;
    padding: 0em 2em;
}

.homeContainer{
    
    animation-name: pageLoadInFader;
    animation-duration: 1.5s;
    animation-play-state: running;
    padding-top: 5vw;
    height: 75vh;
    
} 

.homeContainer .carousel {
    
    box-shadow: -400px 0px 0px rgb(255, 45, 45) ;
    filter: blur(8px) opacity(.5);;
}

.carousel {   
    z-index: 1;
    position:relative;
    
}

.mainCaro{
    position:relative;
    height: 90vh;
    
}

.PicBorder{
    
    z-index: 3;
    box-shadow: inset 0px 0px 40px 40px #DBA632 !important;

}





.carousel-indicators li { visibility: hidden; }
.kar1{
    top: 1;
    
    z-index: 3;
}


@media screen and (max-width: 707px) {
    .homeText{
        padding-top: 20vw;
    }
  }




  
