.largeLogo{
    font-family: 'Moon Dance', cursive;
    /* font-size: 15vw; */
    font-size: 15vw;
    color: goldenrod;
    }

.homeText{
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'Mandali', sans-serif;
    z-index: 2;
    width:100%;
    font-size: 4vh;
    
    position: relative;
    bottom: 40vw;
    
}

.subtext {
    margin-top: 1.5em;
    font-size: 75%;
    padding: 0em 2em;
}

.homeContainer{
    
    animation-name: pageLoadInFader;
    animation-duration: 1.5s;
    animation-play-state: running;
    
    height: 160vh;

} 

.homeContainer .carousel {
    
    padding-top: 10vh;
    filter: opacity(.4);    
}

.carousel {   
    filter: opacity(.4);
    
  }

.carousel img{

    height: 55vw;
}



.carousel-indicators li { visibility: hidden; }
.kar1{
    top: 1;
    
    z-index: 3;
}


@media screen and (max-width: 707px) {
    .homeText{
        color:rgb(255, 255, 255);
        text-align: center;
        font-family: 'Mandali', sans-serif;
        z-index: 2;
        width:100%;
        font-size: 2vh;
        
        position: relative;
        bottom: 41vw;
        
    }
  }

@media screen and (max-width: 691px) {
    .homeText{
        color:rgb(255, 255, 255);
        text-align: center;
        font-family: 'Mandali', sans-serif;
        z-index: 2;
        width:100%;
        font-size: 2.3vh;
        
        position: relative;
        bottom: 41vw;
        
    }
  }


  @media screen and (max-width: 428px) {
    .homeContainer{
    
        animation-name: pageLoadInFader;
        animation-duration: 1.5s;
        animation-play-state: running;
        
        height: 60vh;
    
    } 
  }


  
