.commentsPage{
    height: 120vh;
    width: 50%;
    color:white;
    margin: auto;
    text-align:center;
    margin-top: 5%;
    padding-top: 5%;
    border-radius: 14px;
    background-color: rgba(255, 239, 19, 0.);
    
    
}

.commentForm{
    
    height: 100vh !important;
    padding: 2vw;
    border: solid rgb(83, 83, 83);
    border-radius: 14px;
    border-image: linear-gradient(45deg, goldenrod, rgb(250, 250, 250)) 1;
    
}
.input-texts{
    font-family: 'Mandali', sans-serif;
    
    
}

.input-texts input{
    
    margin-left: 14.7vw;
    font-size: 20px;
    
    border-radius: 4px;
    border-color: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 20vw;
    
}

.commentList{
    border: rgb(29, 29, 29) solid;
}