.barberText{
    color:goldenrod;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    position: absolute;
    
    
}

.barberContainer{
    height: 80vh;
    
    animation-name: pageLoadInFader;
    animation-duration: 1.5s;
    animation-play-state: running;
    display: flex;
    
    
}
.menu{
    color: white;
    font-size: 2.5vh;
    padding-left: 45vw;
    border: solid rgb(255, 255, 255);
    border-image: linear-gradient(45deg, goldenrod, rgb(250, 250, 250)) 1;
    margin:auto;
    padding-right: 1.5vh;
    padding-top: 1.5vh;
    
    
}

.menu ul{
    list-style-image: url('https://i.imgur.com/ZSPDaYQ.png');
    list-style-position: outside;
    text-align: center;
}

aside{
    color:green;
}

.emailLink{
    text-align: center !important;
    font-size: 4vh;
    color: white;
}

.emailLink a{
    font-size: 4vh;
    color:goldenrod;
}

@keyframes pageLoadInFader {
    0%   {filter: opacity(0%)}
    
    100%{filter: opacity(100%)}
}

.barberText img{
    height: 50vh;
    width: auto;
    border: solid rgb(83, 83, 83) 10px;
    border-image: linear-gradient(45deg, goldenrod, rgb(250, 250, 250)) 1;
    filter: opacity(1) !important;
    border-radius: 0px;
    margin-left: 25vw;
    
    
    
}

.barberText .carousel{
    bottom: 15vh;
    filter: opacity(1) !important;
    position: relative;
}

.barberText .carousel img{
    height: 50vh;
}

