.footerContainer{
    
    width: 100%;
    background-color: rgb(20, 20, 20,);
    margin:auto;
    text-align: center;
    padding-top: 5vh;
    
    
    }

.footerContainer a{
    color: white;
    padding-left: 2vw;
}

.footerContainer p{
    color: white;
    padding-left: 2vw;
}

.hours{
    text-align: center;
    font-size: 2vh;
    color:rgb(173, 173, 173);
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 22vh;
}

.instaSvg path{
    fill: goldenrod;
    height: 4vh;
}

.facebook{
    height: 4vh;
    margin-left: 2vh;
}

.instaSvg:hover{

    background-color: rgb(255, 255, 255);
}

.facebook:hover{
    background-color: white;
}