.footerContainer{
    height: 15vh;
    width: 100%;
    background-color: rgb(20, 20, 20,);
    margin:auto;
    text-align: center;
    padding-top: 5vh;
    
    }


.footer{
    background-color: rgb(20, 20, 20,);
    z-index: 4;
    position:relative;
    /* border: dotted green; */
}
.footerContainer a{
    color: white;
    
}

.footerContainer p{
    color: white;
    
    text-align:center;
}

.hours{
    text-align: center;
    font-size: 2vh;
    color:rgb(173, 173, 173);
}

.footer{
    display: flex;
    flex-direction: column;
    /* margin-top: 22vh; */
    padding: 0em 1em;
    height: 100%;
}

.instaSvg path{
    fill: white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    height: 4vh;
}

.facebook{
    height: 4vh;
    margin-left: 2vh;
    
}

.instaSvg:hover{

    background-color: goldenrod;
}

.facebook:hover{
    background-color: goldenrod;
    transform:scale(1.2)
}