.productsText{
    color:goldenrod;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 48px;
    padding: 10vw 25vw;
    border: solid;
    margin-left: 2vw;
    margin-right: 2vw;
}

.productsContainer{
    height: 120vh;
    animation-name: pageLoadInFader;
    animation-duration: 1.5s;
    animation-play-state: running;
    border: solid 1vh;
    border-image: linear-gradient(45deg, goldenrod, rgb(194, 194, 194)) 4;
    margin-top: 10vh;
    
}



.productPhoto{
    height: 24vh;
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 2vh;
}

.productText{
    color:goldenrod;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 4vh;
    border: solid;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 30vh;
    margin: auto;
}

.eachProduct{
    padding: 5vh;
    
}

.loader{
    text-align:center;
    color:goldenrod;

}

.productsTitle{
    text-align: center;
    color: goldenrod;
}

.loaderSVG{
    fill: rgb(255, 255, 255);
    height: 30vh;
    display:block;
    margin:auto;
    margin-top: 30vh;
}